@import url("https://fonts.googleapis.com/css?family=Quicksand:300,500");

.intro {
  display: inline-flex;
  width: auto;
  height: auto;
  margin: 0 auto;
  /* padding-top: 25%; */
}
.intro h1 {
  z-index: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: #616161;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #14b8af; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.color {
  background-color: #14b8af;
}
.words {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: white;
  word-wrap: break-word;
  width: 800px;
}

.landing {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 85vh;
  width: 100vw;
}

.headshot {
  float: left;
}

.homeSection {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  width: 100vw;
}

.homeSection.color {
  background-color: #14b8af;
}

.homeSection.bg {
  background-color: white;
  overflow: hidden;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  font-family: arial;
  color: transparent;
  font-size: 9.5vw;
  font-family: "Quicksand", sans-serif;
}
.homeSection.bg-text {
  background-image: url(../images/t2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.word.fall-text {
  top: -500px;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: white;
  position: relative;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.word.fall-text.passed {
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: white;
  position: relative;
}

.word.fall-text.fall1 {
  animation-name: movingTopToBottom;
  animation-duration: 0.2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  transform: rotate(5deg);
  opacity: 1;
  visibility: visible;
}

.word.fall-text.fall2 {
  animation-name: movingTopToBottom;
  animation-duration: 0.2s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  opacity: 1;
  visibility: visible;
}

.word.fall-text.fall3 {
  transform: rotate(-5deg);
  animation-name: movingTopToBottom;
  animation-duration: 0.2s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  opacity: 1;
  visibility: visible;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  visibility: visible;
  transform: none;
}

@keyframes movingTopToBottom {
  0% {
    top: -500px;
  }
  100% {
    top: 5px;
    opacity: 100;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #14b8af;
  }
}
