@import url("https://fonts.googleapis.com/css?family=Quicksand:300,500");

.intro {
  display: inline-flex;
  width: auto;
  height: auto;
  margin: 0 auto;
  /* padding-top: 25%; */
}
.intro h1 {
  z-index: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: #616161;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #14b8af; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.color {
  background-color: #14b8af;
}
.words {
  font-family: "Quicksand", sans-serif;
  font-size: 70px;
  color: white;
  word-wrap: break-word;
  width: 600px;
}

.landing {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 85vh;
  width: 100vw;
}

.homeSection {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-flow: row wrap;
  height: 120vh;
  width: 100vw;
}

.homeSection.color {
  background-color: #14b8af;
}

.homeSection.bg {
  background-color: white;
  overflow: hidden;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  font-family: arial;
  color: transparent;
  font-size: 9.5vw;
  font-family: "Quicksand", sans-serif;
}
.homeSection.bg-text {
  background-image: url(../images/t2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #14b8af;
  }
}
