.intro {
  display: inline-flex;
  width: auto;
  height: auto;
  margin: 0 auto;
}
.intro h1 {
  z-index: 0;
  color: #616161;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #14b8af; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* .home {
  padding-top: 20%;
  position: relative;
} */

.color {
  background-color: #14b8af;
}

.homeSection {
  padding-top: 25%;
  /* display: flex;
  align-items: center; */
  height: 120vh;
  width: 100vw;
}

.homeSection.color {
  background-color: #14b8af;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #14b8af;
  }
}
